@font-face {
  font-family: Imported;
  src: url(./font/HelveticaNeueMedium.otf);
}

#edit {
  font-family: Imported;
}

.App-header {
  background-color: #46484c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#outlined-search {
  width: 100%; /* Full width for search bar */
  padding: 12px;
}

/* Mobile specific styles */
@media (max-width: 600px) {
  .App-header {
    font-size: 12px;
  }

  #outlined-search {
    width: 100%;
  }

  .sideBar {
    width: 100vw;
    border-radius: 10px 0px 0px 10px; /* Border radius for mobile */
    background-color: white; /* Ensure the background color matches the sidebar */
  }
}

/* Tablet specific styles */
@media (max-width: 900px) {
  .App-header {
    font-size: 14px;
  }

  #outlined-search {
    width: 100%;
  }

  .sideBar {
    width: 450px;
    border-radius: 10px 0px 0px 10px; /* Border radius for tablet */
    background-color: white; /* Ensure the background color matches the sidebar */
  }
}
